{{outlet}}
<div id="wrapper">
      <section class="bubbles">
        <h1>Gallery</h1>
        <ul id="gallery">
          <li>
            <a href="img/vw1.jpg" {{action "clicker"}}>
              <img src="img/vw1.jpg" alt="plaid shift boot">
            </a>
            plaid shift boot
          </li>

          <li>
            <a href="img/vw3.jpg" {{action "clicker"}}>
              <img src="img/vw3.jpg" alt="plaid door panels">
            </a>
            plaid door panels
          </li>

          <li>
            <a href="img/vw4.jpg"  {{action "clicker"}}>
              <img src="img/vw4.jpg" alt="blue lights">
            </a>
            blue lights
          </li>

          <li>
            <a href="img/vw5.jpg" {{action "clicker"}}>
              <img src="img/vw5.jpg" alt="more lights">
            </a>
            more lights
          </li>
        </ul>
<h1>Public Flickr photos</h1>
<ul id="photos"></ul>
      </section>
      <footer>
        <p>
          &copy; 2016 Dan Wagner<br>
          <a href="mailto:dan.nmi.wagner@gmail.com">dan.nmi.wagner@gmail.com</a>
        </p>
      </footer>
  </div>
